<h2>Spitball!</h2>

<div style="float: left; width: 50%;">
  <h3>Env</h3>
  <div><pre><%= @env %></pre></div>
  <h3>Cached Digests</h3>
  <% for digest in @digests %>
    <div><%= digest %> <a href="/<%= digest %>.tgz">tgz</a></div>
  <% end %>
</div>

<div style="float: left;">
  <h3>Upload</h3>
  <form method="post" action="create">
    <div>Gemfile: <input type="file" name="gemfile"/></div>
    <div>Gemfile.lock: <input type="file" name="gemfile_lock"/></div>
    <div>Without groups: <input type="text" name="without"/></div>
    <input type="hidden" name="protocol_version" value="<%= @protocol_version %>"/>
    <input type="submit" value="submit"/>
  </form>
</div>

<div style="clear: both;"></div>